<!-- App container -->
<div class="container">

    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <a class="navbar-brand h1" href="#">
                    <img src="../assets/favicon-192.png" width="30" height="30" class="d-inline-block align-top" alt="NASA logo" loading="lazy">
                    Mars Rover Photos &#x0007B; api &#x0007D;</a>
                <div class="navbar-nav">
                    <a class="nav-link" href="#">Home</a>
                    <a class="nav-link mb-0" href="#">Reactive form</a>
                    <a class="nav-link" href="#">Dynamic form</a>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">



    </div>

</div>